{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "nodes": [{
        "container": {
            "type": "kvm",
            "zone": "pek3",
            "image": "img-znwwciqm"
        },
        "cpu_model": "Broadwell",
        "count": {{cluster.dl_node.count}},
        "cpu": {{cluster.dl_node.cpu}},
        "memory": {{cluster.dl_node.memory}},
        "instance_class": {{cluster.dl_node.instance_class}},
        "user_access": true,
        "volume": {
            "size": {{cluster.dl_node.volume_size}},
            "class": {{cluster.dl_node.volume_class}}
        },
        "services": {
            "init": {
                "post_start_service": true,
                "cmd": "chown ubuntu /data && chown -R ubuntu /home/ubuntu/.qingstor",
                "timeout": 3600
            }
        }
    }],
    "advanced_actions": ["change_vxnet", "scale_horizontal"],
    "env": {
            "QingStor": {{env.QingStor}},
            "access_key_id": {{env.access_key_id}}
    }
}
